/* css styles */
// Fonts

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Bebas+Neue&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300&family=Montserrat:wght@300;400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,700&family=Nunito:wght@300&family=Source+Sans+3:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.cdnfonts.com/css/thesansb');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

/*-- scss:rules --*/
/* -- fonts * --*/
h1, .h1 {
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   text-transform: uppercase;
 }
 
h2, .h2 {
font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.navbar-brand img {
  max-height: 60px; /* Adjusts the maximum height of the logo */
  width: auto; /* Keeps the logo aspect ratio intact */
  margin-right: 15px; /* Adds some space to the right of the logo */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-brand img {
    max-height: 40px; /* Smaller logo for mobile devices */
    margin-right: 10px;
  }
}
/* -- people --*/

.listing-box:hover {
  border-color: $primary;
  background-color: transparent;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
}

.listing-box-title {
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #222;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}

.listing-box-subtitle {
  /*    margin-top: auto;*/
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  color: #757883;
  line-height: 1.5;
}

.listing-box-education {
  margin-bottom: 0;
  color: #757883;
  font-size: 12px;
  line-height: 1.5;
}

.listing-box-button a[role="button"] {
  width: 140px;
  min-height: 150px;
  color: rgb(55, 58, 60);
  text-align: center;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 0.9em;
}

.listing-box-section {
  margin-bottom: 30px;
  box-sizing: border-box;
}


.listing-box-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.quarto-listing-cols-3 {
    padding-left: 10px;
    padding-right: 10px;

}

.quarto-listing-cols-4 {
    padding-left: 10px;
    padding-right: 10px;

}

.anchored {
  padding-top: 8px;
  padding-left: 10px;
}

/* -- publications --*/

.listing-pub-title {
  /*font-family: 'Bebas Neue', sans-serif;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #222;
  line-height: 1.2;*/
  font-size: 18px;
  font-weight: 700; 
}

.listing-pub-author {
  color: #757883;
  font-size: 13px;
  margin-bottom: 6px;
  /*line-height: 1.5;*/
}

.listing-pub-number {
  font-weight: 700; 
  font-size: 15px;

}

.listing-pub-journal {
  color: #757883;
  font-size: 15px;
  margin-bottom: 8px;
}

.listing-pub-url {
  font-size: 13px;

}
